@import "tailwindcss";

html, body {
  background: radial-gradient(circle at top left, #0b1120, #0f172a, #1e293b);
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
